<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ewicket.editors.eWicketEditor"
            contributorClass="ewicket.editors.MultiPageEditorContributor"
            extensions="java"
            icon="icons/icon.png"
            id="ewicket.editors.eWicketEditor"
            name="eWicketEditor">
      </editor>
   </extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="Wicket" name="Wicket"></category>
		<wizard
			category="Wicket"
			class="ewicket.wizard.EWicketNewWebPageWizard"
			icon="icons/icon.png"
			id="ewicket.wizard.EWicketNewWebPageWizard"
			name="Wicket WebPage">
			<description>Creates a new Wicket WebPage</description>
		</wizard>
		<wizard
			category="Wicket"
			class="ewicket.wizard.EWicketNewPanelWizard"
			icon="icons/icon.png"
			id="ewicket.wizard.EWicketNewPanelWizard"
			name="Wicket Panel">
			<description>Creates a new Wicket Panel</description>
		</wizard>
	</extension>	
</plugin>
